
    <div class="detail-cell">
	    <p class="tit"><span><%= dingdan[0]%></span><span><%= dingdan[1]%><b><%= dingdan[2]%></b><i><%= dingdan[3]%></i></span></p>
	    <p class="dj"><span><%= play[0]%>:</span><span><%= play[1]%></span></p>
	    <p class="dj"><span><%= play[2]%>:</span><span><%= play[3]%></span></p> 
	    <p class="dj"><span><%= play[4]%>:</span><span><%= play[5]%></span></p> 
	    <p class="dj"><span><%= play[6]%>:</span><span><%= play[7]%></span></p>     
	</div>

